@import '../../App.module.css';

.error {
  height: 100vh;
  text-align: center;
  align-content: center;
  background: var(--color-Bg);
}

.reset {
  composes: btn;
  position: absolute;
  top: 5%;
  right: 5%;
  color: var(--color-Error);
}
