.error {
  composes: btn from '../../pages/App.module.css';
  position: fixed;
  bottom: 5%;
  right: 5%;
  background-color: var(--color-Bg);
  color: var(--color-Error);

  &:hover {
    background-color: var(--color-Error);
    color: var(--color-Text);
  }
}
