.card {
  position: relative;
  cursor: pointer;
  border-radius: 0.5rem;
  font-size: 1rem;
  padding: 0.5rem;
  background-color: var(--color-Btn);
  color: var(--color-Text);
  transition: all 0.3s ease-out;
  text-align: center;
  border: dashed 1px var(--color-Text);
  margin: 0.5rem;

  &:hover {
    background-color: var(--color-Btn-Hover);
    color: var(--color-Text);
  }

  width: 13rem;
  cursor: auto;
  text-align: left;
  cursor: pointer;

  &:hover {
    background-color: inherit;
  }

  & > .checkbox {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
  }
}

.films {
  list-style-type: none;

  & > li {
    margin-left: 1rem;
    cursor: pointer;
  }
}
