.search {
  composes: btn from '../../pages/App.module.css';
  padding: 0;
  margin: 0;
  cursor: auto;
}

.button {
  composes: btn from '../../pages/App.module.css';

  &:hover {
    background-color: var(--color-Bg);
  }
}

.input {
  composes: btn from '../../pages/App.module.css';
  max-width: 500px;
  width: 50vw;

  &:hover {
    background-color: var(--color-Bg);
    border-color: rgb(30, 0, 255);
  }
}
