* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}


.table-container {
  margin: 0 auto;
  max-width: 1200px
}

.country-table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.country-table th,
.country-table td {
  border: 1px solid #ddd;
  padding: 5px 10px;
  text-align: left;
}

.country-table th {
  background-color: #f4f4f4;
}

.country-table tr:hover {
  background-color: #f9f9f9;
}

.population,
.region {
  width: 20%;
  text-align: center;
}

.name,
.capital {
  width: 30%;
  text-align: center;
}

.flag {
  font-size: 1.5rem;
  text-align: center!important;
}

.region_option {
  margin-left: 10px;
  text-align: center;
  height: 1.5rem;
}


.table-header {
  position: sticky;
  height: 50px;
  top: 0;
  background-color: #f4f4f4;
  z-index: 1;
}