* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-Bg: #808080;
  --color-Error: #ff0000;
  --color-Text: #ffffff;
  --color-Btn: #656565;
  --color-Btn-Hover: #c6c6c6;
  --color-Active: rgb(255, 220, 220);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
    --color-Text: #000000;
    --color-Btn: #f1f1f1;
    --color-Bg: #ffffff;
  }
}

.active {
  background: var(--color-Active) !important;
}
