.button {
  cursor: pointer;
  border-radius: 0.5rem;
  font-size: 1rem;
  padding: 0.5rem;
  background-color: var(--color-Btn);
  color: var(--color-Text);
  transition: all 0.3s ease-out;
  text-align: center;
  border: dashed 1px var(--color-Text);
  margin: 0.5rem;
  margin: 5px;
  padding: 15px;

  &:hover {
    background-color: var(--color-Btn-Hover);
    color: var(--color-Text);
  }

  align-content: center;

  &:hover {
    background-color: var(--color-Bg);
  }
}

.inactive {
  opacity: 0.2;
  cursor: auto;
}

.active {
  background-color: var(--color-Active);
}
